/* * {
    border: red solid 1px;
} */

body {
    padding: 0;
    margin: 0;
}

.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.macondo-regular {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
}

.flexContainer {
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 100svh;
}

.leftContainer {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 40dvw;
    justify-content: center;
    align-items: center;
}

.logoBG {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 25%;
}

.logoText {
    color: black;
    text-align: center;
    font-size: 80px;
}

.rightContainer {
    height: 100%;
    width: 60dvw;
    border-left: black 1px solid;
    flex-direction: column;
    padding: 100px;
    align-items: flex-start;
}

.heroText{
    font-size: 60px;
}

.form {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.formEncouragement {
    font-size: 30px;
}

.formContainer {
    align-items: center;
    justify-content: center;
}

.formText {
    flex-direction: column;
    align-items: flex-start;
    font-size: 10px;
    margin: 0.5rem 1rem 0 0;
}

.formText > label {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.formText > input {
    width: 30rem;
    height: 2rem;
}

#submitButton {
    width: 10rem;
    height: 5rem;
}